table{
    border-collapse: collapse;
    background-color: rgb(206, 215, 222);
}

th, td {
    height:40px;
    text-align: center; 
    vertical-align: middle; 
}

.select{
    background-color: rgb(173, 191, 208);
}

th{
    background-color: rgb(139, 156, 171);
}