table{
    border-collapse: collapse;
    background-color: rgb(206, 215, 222);
}

th, td {
    height:40px;
    text-align: center; 
    vertical-align: middle; 
}

.select{
    background-color: rgb(173, 191, 208);
}

th{
    background-color: rgb(139, 156, 171);
}

tr:hover{
    background-color: rgb(173, 191, 208);
}

input[type='text']{
    width: 200px;
    height: 30px;
    background-color: rgb(200, 214, 227);
    border-radius: 10px;
    border-color: rgb(184, 197, 210);
    text-align: center;
}